/* #region main */
* {
  font-family: cursive;
  /* font-weight: lighter; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container_body {
  background-color: rgb(21, 174, 123);
}

/* #endregion */

/* #region header*/
header {
  padding-top: 3%;
  text-align: center;
}

nav ul li {
  display: inline;
  font-size: 1.5em;
  padding: 5%;

  a:link,
  a:visited {
    text-decoration: none;
    color: rgb(240, 255, 250);
  }
}

#logo {
  width: 180px;
  margin-top: 10px;
}

h1 {
  font-size: 4.5em;
  color: rgb(240, 255, 250);
}

/*#endregion*/

/* #region main */
main {
  background-color: rgb(240, 255, 250);
  margin: 2% 4% 2% 4%;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 20px 30px 70px -45px #203333;
}

#main_btns {
  /* display: flex;
  flex-wrap: wrap; */
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
  align-items: center;
}

#delete_all,
#contact {
  float: right;
  margin: 0.5%;
  width: 50px;
  height: 50px;
}

/* #region list */
img {
  width: 30px;
}

#list ul li {
  background-color: rgb(240, 255, 250);
  margin: 18px;
  padding: 1%;
  border-radius: 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 20px 30px 35px -45px #203333; */
}


#list :hover{
  box-shadow: 20px 30px 35px -45px #203333;
}

.names {
  font-size: 1.5em;
  margin-right: auto;
}

#delete_all {
  margin-left: auto;
}

.images {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  margin: 2%;
}

#search_box {
  border-radius: 45px;
  /* margin-left: auto; */
  height: 30px;
  font-size: 1.5em;
  padding: 20px;
  color: #203333;
  border-color: solid 1px #203333;
  background-color: rgb(240, 255, 250)
}

.info,
.edit,
.trash_bin {
  margin: 0.5%;
}

/* #endregion */
/* #endregion */


/* #region footer */
footer {
  font-size: 1.2em;
  padding-bottom: 2%;
  color: rgb(240, 255, 250);
  text-align: center;
  text-decoration-line: overline;
  text-decoration-color: rgb(47, 217, 160);
  text-decoration-thickness: 5%;
}

/* #endregion */